@import url("//fonts.googleapis.com/css?family=Roboto:500");
*{
    margin:0;
    padding:0;
    font-family: "Roboto", sans-serif;
    text-align: center;
  }
  #abc{
    width:100%;
    height:100vh;
    /*background-image: url(default.png);
    background-size: cover;
    */
    background-color: #4C566A;
  }
  ul{
    padding: 0px;
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-bottom: 50px;
  }
  ul .ul{
    display: flex;
    justify-content: center;
  }
  ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.7s all;
  }
  .social{
    float: right;
    position: relative;
    bottom: 100%;
    left: 0%;
  }
  ul li:hover{
    text-decoration: none;
  }
  ul li a{
    text-decoration: none;
    color: #fff;
    padding: 30px;
  }
a:not(.face-button, .newlink) {
	color: #fff;
  position: relative;
  text-decoration: none;
}
a:not(.face-button, .newlink)::before {
  content: '';
  position: absolute;
  width: 50%;
  height: 3px;
  border-radius: 4px;
  background-color: #fff;
  bottom: 20%;
  left: 25%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

a:not(.face-button, .newlink):hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.newlink{
  color: #88c0d0;
  position: relative;
  text-decoration: none;
}
.newlink::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  border-radius: 4px;
  background-color: #88c0d0;
  bottom: -20%;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}
.newlink:hover::before {
  transform-origin: left;
  color: #88c0d0;
  transform: scaleX(1);
}
#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:25px;   /* Height of the footer */
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 500;
  }
hr {
  width:50%;
  margin: auto;
  background-color: #51566b;
  border-top: 1px solid #51566b;
  color: #5f657c;
  }
.teaxt{
  color: #fff;
  font-size: 15px;
  margin-top: 2px;
}


.face-button {
  height: 64px;
  display: inline-block;
  border: 3px solid #81A1C1;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #81A1C1;
  overflow: hidden;
}
.face-button .icon {
  margin-right: 6px;
}
.face-button .face-primary,
.face-button .face-secondary {
  display: block;
  padding: 0 32px;
  line-height: 64px;
}
.face-button .face-primary {
  color: #fff;
}
.face-button:hover > .face-primary{
  background-color: #81A1C1;
  transition: .4s;
}
/* .face-button:hover .face-primary {
  margin-top: -64px;
} */
h1{
  color: #fff;
  margin-bottom: 15px;
}
h2{
  color: #fff;
  margin-bottom: 20px;
}
h3{
    color: #fff;
    margin-bottom: 20px;
}